<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="false">
    <testsuites>
        <testsuite name="InterviewGate">
            <file>tests/Command/CalculateBonusesCommandTest.php</file>
            <file>tests/Service/BonusCalculatorTest.php</file>
            <file>tests/Service/SalesAnalyzerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
